.logo {
    display: flex;
    justify-content: center;
}

/* .navBarElements {
    display: inline-block;
    justify-content: center;
}   */

.navBar {
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    justify-content: center;


}